# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

### Step 4. How many products cost more than $10.00?

In [ ]:
# Set the maximum width of a column to unlimited (None)
# pd.set_option('display.max_colwidth', None)

chipo["unit_price"] = chipo["item_price"].str.strip("$").astype("float64") / chipo["quantity"]
df = chipo.drop_duplicates(["item_name", "choice_description"])
df[df.unit_price > 10].shape[0]

707

### Step 5. What is the price of each item? 
###### print a data frame with only three columns item_name choice_description and product_price

In [30]:
df[df.unit_price > 10][["item_name", "choice_description", "unit_price"]]

,item_name,choice_description,unit_price
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...
4593,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

### Step 6. Sort by the name of the item

In [5]:
chipo.drop_duplicates(["item_name", "choice_description"])[["item_name", "choice_description", "unit_price"]].sort_values("item_name")

,item_name,choice_description,unit_price
341,6 Pack Soft Drink,[Diet Coke],6.49
298,6 Pack Soft Drink,[Sprite],6.49
357,6 Pack Soft Drink,[Coke],6.49
721,6 Pack Soft Drink,[Nestea],6.49
3141,6 Pack Soft Drink,[Lemonade],6.49
...,...,...,...
2384,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
738,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3889,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
1395,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
781,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75

### Step 7. What was the quantity of the most expensive item ordered?

In [33]:
chipo.loc[chipo["item_price"].idxmax()]["quantity"]

np.int64(1)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [15]:
chipo[chipo.item_name == "Veggie Salad Bowl"].quantity.sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [18]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].order_id.count()

np.int64(20)